<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>

<div class="sign-in bg-default-2 d-flex align-items-center overflow-auto" style="height:100vh">
    <!-- Header Brand Area -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7 col-xl-5">
          <div class="main-block">
            
            <div class="login-form bg-white border rounded-10 px-12 py-16 shadow-1 mb-11">
                <div class="form-title text-center">
                    <h2 class="title gr-text-4">Reset Password</h2>
                    <p class="gr-text-10 mb-13">Enter your email to get new password details.</p>
                  </div>
                  <form action="./">
                    <div class="form-group">
                      <label for="email" class="gr-text-11 font-weight-bold text-blackish-blue">Email</label>
                      <input class="form-control gr-text-11 border" type="email" id="email" placeholder="i.e. john@mail.com">
                    </div>
                    <div class="button-block mt-3 ">
                      <button class="form-btn btn btn-primary w-100">Send Reset Link</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    

</body>
</html>