<div class="location-card mb-9 shadow-4 rounded-10 gr-hover-shadow-1">
    <a href="/blog" class="card-img">
      <img src="/static/image/job-site/jpg/news-card-img1.jpg" alt="" class="w-100 rounded-top-10">
    </a>
    <div class="card-content px-9 py-8 bg-white rounded-bottom-10">
      <a href="#">
        <p class="gr-text-11 mb-4 d-inline-block gr-color-blackish-blue-opacity-7">Career</p>
      </a>
      <a href="#">
        <h3 class="title text-blackish-blue gr-text-7 gr-hover-text-blue mb-0">How to win any job you want. Get started with 5 steps.</h3>
      </a>
      <span class="d-inline-flex align-items-center mr-2 mt-6 gr-text-color">
        <i class="fa fa-calendar gr-text-11 mt-n1 mr-2"></i>
        <span class="font-weight-bold">Jan 13 2021</span>
      </span>
    </div>
  </div>