<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Rhombus Education</title>
    <link rel="shortcut icon"href="/static/image/png/favicon.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet"href="/static/css/bootstrap.css">
    <link rel="stylesheet"href="/static/fonts/icon-font/css/style.css">
    <link rel="stylesheet"href="/static/fonts/typography-font/typo.css">
    <link rel="stylesheet"href="/static/fonts/fontawesome-5/css/all.css">
    <!-- Plugin'stylesheets  -->
    <link rel="stylesheet"href="/static/plugins/aos/aos.min.css">
    <link rel="stylesheet"href="/static/plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet"href="/static/plugins/nice-select/nice-select.min.css">
    <link rel="stylesheet"href="/static/plugins/slick/slick.min.css">
    <link rel="stylesheet"href="/static/plugins/date-picker/css/gijgo.min.css" type="text/css" />
    <!-- Vendor stylesheets  -->
    <link rel="stylesheet"href="/static/./plugins/theme-mode-switcher/switcher-panel.css">
    <link rel="stylesheet"href="/static/css/main.css">
    <link rel="stylesheet"href="/static/./css/theme-mode-custom.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- Custom stylesheet -->
  </head>